.button {
    color: #000000;
    background-color: #F083AD;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    align-items: center;
}