.show-input-wrapper {
    display: flex;
    gap: 10px;
    background-color: #F0BCD4;
    padding: 10px;
    border-radius: 15px;

    .show-input-logo {
        border-radius: 10px;
    }

    .show-input-field {
        background-color: transparent;
        border: none;
        color: #2C1320;
        width: 100%;
        font-weight: 500;

        &::placeholder {
            color: #2C1320;
        }

        &:focus {
            outline: none;
        }
    }
}