@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #DDE0ED;
  --background-start-rgb: #2C1320;
  --background-end-rgb: #49303d;
}

html {
  height: 100%;
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom right,
      var(--background-end-rgb),
      var(--background-start-rgb)
    );
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 400px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
